/* .textbox {
  resize: none;
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;

  outline: none;
  border: 0px;
  background-color: var(--secondary);
  color: var(--text);
}




.textButton {
  border: none;
  background-color: rgba(0, 0, 0, 0);

}

ul {
  list-style-type: none;
  color: var(--text);
}






.sc1::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.sc1::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}

.sc1::-webkit-scrollbar-thumb {
  background-color: #dfdfdf;
  border-radius: 10px;
}


 */


 html, body, .grid-container { height: 100%; margin: 0; }

 .grid-container {
   display: grid;
   grid-template-columns: 160px 1fr;
   grid-template-rows: 1fr 40px;
   gap: 1px 1px;
   grid-template-areas: "sidebar page" "stats stats";
 }
 
 .sidebar { grid-area: sidebar; }
 
 .page { grid-area: page; }
 
 .stats { grid-area: stats; }
 
 .grid-container * { 
  position: relative;
 }

 
 .sidebar{
     overflow: scroll;
 }

 .textbox {
  resize: none;
  width: 98%;
  height: 98%;
  outline: none;
  border: 0px;
  background-color: var(--secondary);
  color: var(--text);
}

*{
  list-style-type: none;
  margin: 2px;
  padding: 0;
  background-color: var(--primary);
  color: var(--text);
}

.sc1::-webkit-scrollbar {
  display: none;
}

