 html,
 body,
 .grid-container {
   height: 100%;
   margin: 0;
 }

 .grid-container {
   display: grid;
   grid-template-columns: 160px 1fr;
   grid-template-rows: 1fr 40px;
   gap: 1px 1px;
   grid-template-areas: "sidebar page""stats stats";
 }

 .sidebar {
   grid-area: sidebar;
 }

 .page {
   grid-area: page;
 }

 .stats {
   grid-area: stats;
 }

 .grid-container * {
   position: relative;
 }


 .sidebar {
   overflow: scroll;
 }

 .textbox {
   resize: none;
   width: 98%;
   height: 98%;
   outline: none;
   border: 0px;
   background-color: var(--secondary);
   color: var(--text);
 }

 * {
   list-style-type: none;
   margin: 2px;
   padding: 0;
   background-color: var(--primary);
   color: var(--text);
 }

 .sc1::-webkit-scrollbar {
   display: none;
 }